<%- include('../common/header') %>
    <%- include('../common/menu')%>
    <main class="mb-4">
        <div class="bg-light p-5 mb-4">
            <div class="container text-center">
                <h1>Seja Bem-Vindo</h1>
                <p class="lead">
                    Fique Por dentro da s últimas notícias do mundo da tecnologia
                </p>
            </div>
        </div>
    </main>
<%- include('../common/footer')%>