        <footer class="mt-auto bg-dark"><!--Junto com "d-flex flex-column h-100" do body e "h-100" do <html> para colocar o footer no lugar certo-->
            <p class="fst-italic text-center text-white py-2 mb-0 ">Cel.lep Tech Notícias 2022</p>
        </footer>
    </body>
</html>